html{
    scroll-behavior: smooth;
}

body{
    background-color: #3EB489;
    color:  rgb(2, 9, 105);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    overflow-x: hidden;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#navbar {
    position: fixed;
    width: 17.8%;
    height: 100%;
    border:1px solid rgb(116, 0, 0);
    box-shadow: 0 0 20px 0 rgb(141, 1, 1);
    background-color: rgb(0, 0, 0);
    padding: 15px;
}

#navbar .container h1{
    color:  rgb(1, 247, 75);
    text-align: center;
}

#navbar img{
    width: 170px;
    border-radius: 50%;
    margin-left: 7%;
    float: left;
}

nav ol{
    padding-left: 0px;
    list-style: none;
    text-align: center;
}

nav ol li{
    display: inline;
    letter-spacing: 0.5em;
} 


nav ul{
    padding-left: 0px;
    line-height: 3em;
    list-style: none;
}

#navbar a{
    color: rgb(0, 0, 200);
    text-decoration: none;
    font-size: 20px;
}

#navbar a:hover{
    color: rgb(235, 8, 167);
}
  

#home{  
    background-image: url('./Images/cs.png');
    box-shadow: 0 0 20px 0 black;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 20%;
    padding-bottom: 401px;
}

#home h1{
    color:rgb(248, 0, 0);
    font-size: 40px;
    margin-top: 40%;
}

#home h2{
    color:rgb(255, 0, 0);
    font-size: 30px;
}

#about{
    color: rgb(0, 0, 0);
    margin-left: 20%;
    padding-top: 10%;
    line-height: 2em;
    text-align: justify;
}

#about ul{
    color: rgb(0, 0, 0);
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;    
    line-height: 2.9em;
    list-style: none;
}

#about img{
    float: left;
    margin-top: 0%;
}

#skills{
    color: black;
    margin: 20%;
    padding-left: 10%;
}

#skills img{
    float: left;
    margin-top: 5%;
}

#skills h1{
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;
    margin-top: 11%;
}

#skills ul{
    font-size: 25px;
    margin-top: 5%;
    line-height: 1.5em;
    font-family:monospace;
}

#skills ol{
    list-style: none;
    padding: 0;
}
 
#skills ol li{
    margin: 20px 0;
}

#projects{
    color: black;
    margin: 20%;
    padding-left: 10%;
}

#projects h1{
    font-size: 60px;
    float: left;
}

#projects h2{
    float: left;
    font-size: 30px;
    font-family: sans-serif;
    margin-left: 20px;
    padding-top: 45px;
}

#projects h3{
    padding-left: 0%;
    font-size: 25px;
    font-family: 'Gill Sans';
    background: rgb(92, 100, 85);
    border: 3px solid black;
    box-shadow: 0 0 10px 0 black;
    color: rgb(216, 213, 210);
}

#projects img{
    padding-top: 10px;
    margin-left: 15%;
    width: 500px;
    height: 350px;
    box-shadow: 0 0 15px 0 black ;
    border: 5px solid black ;
}

#contact{
    background-image: url('./Images/contact.jpg');
    box-shadow: 0 0 20px 0 rgb(170, 170, 170);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 20%;
    padding-top: 10%;
    padding-bottom: 9.1%;
    color: rgb(255, 0, 0);
}

#contact h1{
    padding-left: 40%;
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 0, 0);
}

#contact h2{
    padding-left: 10%;
    color: rgb(0, 0, 0);
    text-align: center  ;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

#contact ul{
    float: left;
    color: rgb(226, 221, 221);
    font-size: 20px;
    list-style: none;
    line-height: 5em;
}

#contact .box{
    margin-left: 45%;
    width: 500px;
    background-color: rgb(116, 110, 110);
    box-shadow: 0 0 10px 0;
}   

form{
    margin: 35px;
}

.input{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10%;
    border: 2px solid black;
    border-radius: 14px;
    outline: none ;
}

.textarea-field{
    height: 150px;
    padding-top: 10px;
}

.but{
    border-radius: 20px;
    color: #fff;
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 10px;
    background-color: rgb(21, 182, 21);
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    border: none;
    cursor: pointer;
}
